<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <p></p>
    <label style = "font-size:18pt;"> A/B Test simple calculator </label>
    <form method="POST">
    	<br>
        <input name = "baseline_rate" style="height:30px; width:250px; font-size:13pt;" placeholder="Baseline Conversion Rate">
        <br><br>
        <input name = "minimum_detectable_effect" style="height:30px; width:250px; font-size:13pt;" placeholder="Minimum Detectable Effect">
        <br><br>
        <input name = "statistic_power" style="height:30px; width:250px; font-size:13pt;" placeholder="Statistical Power (TPR)">
        <br><br>
        <input name = "alpha_level" style="height:30px; width:250px; font-size:13pt;" placeholder="Alpha Significance Level (FPR)">
        <br><br>
        <input name = "samples_ratio" style="height:30px; width:250px; font-size:13pt;" placeholder="Test to Control Group Ratio">
        <p>
            <input type = "submit" value = "Calculate Sample Sizes" style="height:50px; width:250px; font-size:13pt; background-color:#E5FFCC;">
        </p>

    </form>
</head>
<body>

</body>
</html>